<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IItemPerson" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8000/Photos" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IItemPerson" contract="IItemPerson"
          name="BasicHttpBinding_IItemPerson" />
    </client>
  </system.serviceModel>
</configuration>